<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Movie Theater</title>
        <h:outputStylesheet library="webjars" name="bootstrap/3.3.7-1/css/bootstrap.min-jsf.css" />
        <h:outputStylesheet library="webjars" name="bootstrap/3.3.7-1/css/bootstrap-theme.min-jsf.css" />
        <h:outputStylesheet library="webjars" name="font-awesome/4.7.0/css/font-awesome.min-jsf.css" />
           <meta name="viewport" content="width=device-width, initial-scale=1" />
        <h:outputStylesheet library="css" name="style.css"/>       
    </h:head>
    <h:body>
        <h:form>
            <h1>Movie Theater</h1>
            <h3>Search for details of the Top-10 Movies of the 2006! </h3>
            


            <div class="searchSection" >
                <div >
                    <h:inputText id="t2"  value="#{BackingBean.query}" autocomplete="true" 
                                 class="form-control" alt="Search..." 
                                 requiredMessage="Search for a Movie"
                                 required="true"
                                 style="  box-shadow: -1px 0px 9px 0px rgba(52, 50, 50, 0.88);"/>                  
                    <!--             Engine Selector                    -->  
                    
                    <h:panelGrid columns="2" class="radioButtons" cellpadding="5">                
                        <h:selectOneRadio id="radio" required="true"
                                          value="#{BackingBean.engine}" layout="pageDirection"
                                          requiredMessage="Select radioBox"
                                          class="fontRadio">

                            <f:selectItem   itemValue="DOM"        itemLabel="_DOM"/>
                            <f:selectItem  itemValue="SAX"    itemLabel="_SAX"/>
                            <f:selectItem  itemValue="StAX"    itemLabel="_StAX"/>

                        </h:selectOneRadio>
                    </h:panelGrid>
                </div><!-- /input-group -->
                <br/>
                <h:commandButton  class="btn btn-primary btn-lg btn-block" 
                                  type="submit" value="Search"                                
                                  action="#{BackingBean.displayMovie()}"/>
                <h2><h:outputLabel value="#{BackingBean.message}" style="color: red;"/></h2> 

            </div >

           
                
                <h:graphicImage url="#{BackingBean.movie.image}"
                                class="image"/>
                 <section>
                <div class="movieInfo">
                    <b><u><h:outputText value="#{BackingBean.movie.title}"/></u></b><br/>
                    <b>Rate: </b><h:outputText value="#{BackingBean.movie.rate}"/><br/>
                    <b>Schedules: </b><ui:repeat var="item" value="#{BackingBean.movie.timesList}"> <p>#{item}</p> </ui:repeat>                                
                    <b>Released: </b><h:outputText value="#{BackingBean.movie.releaseDate}"/><br/>
                    <b>Duration: </b><h:outputText value="#{BackingBean.movie.runTime}"/><br/>
                    <b>Genre: </b><h:outputText value="#{BackingBean.movie.genre}"/>     <br/>
                    <b>Actors: </b><ui:repeat var="item" value="#{BackingBean.movie.actorsList}"> <p>#{item}</p> </ui:repeat>
                    <b>Directors: </b><ui:repeat var="item" value="#{BackingBean.movie.directorsList}"> <p>#{item}</p> </ui:repeat>
                    <b>Producers: </b><ui:repeat var="item" value="#{BackingBean.movie.producersList}"> <p>#{item}</p> </ui:repeat>
                    <b>Writers: </b><ui:repeat var="item" value="#{BackingBean.movie.writersList}"> <p>#{item}</p> </ui:repeat>
                    <b>Studio: </b><ui:repeat var="item" value="#{BackingBean.movie.studio}"> <p>#{item}</p> </ui:repeat>
               
                </div>

            </section>
        </h:form>
        
        

        <p:growl widgetVar="broadcastGrowl"/>
        <p:socket  onMessage="messageHandler" channel="/message"/>
        <script>
            function messageHandler(facesmessage) {
                facesmessage.severity = 'info';
                PF('broadcastGrowl').show([facesmessage]);
            }
        </script>
    </h:body>
</html>

